.page {
    width:30px;
    height: 40px;
    color: black;
}


.arrow-button {
    color: rgb(10, 10, 222);
    font-weight: 600;
}

.selected-page-num {
    color: blue;
    border-style: solid;
    border-width: 1px;
}

.disable {
    opacity: 0.3;
    color: rgb(58, 56, 56);
}